* {
    margin: 0px;
    padding: 0px;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(212, 45%, 89%);
}

.card {
    margin: auto;
    width: 300px;
    height: 450px;
    padding-top: 25px;
    text-align: center;
    border-radius: 40px;
    background-color: #fff;
}

.qr-code {
    width: 70%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.heading {
    padding: 0 30px;
    font-weight: 700;
    margin-bottom: 25px;
}

.text {
    padding: 0 10px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 10px; 
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
    .card {
        width: 90%; 
    }

    .qr-code {
        width: 100%; 
    }

    .heading {
        font-size: 16px; 
    }
}
